Importing Dataset

In [35]:
import pandas as pd
df = pd.read_csv("../Datasets/Supply_Chain/DataCoSupplyChainDataset.csv")
df_info=pd.read_csv("../Datasets/Supply_Chain/DescriptionDataCoSupplyChain.csv")

Fields and Description

In [36]:
print(df.shape)
df_info

(180519, 53)

,FIELDS,DESCRIPTION
0,Type,: Type of transaction made
1,Days for shipping (real),: Actual shipping days of the purchased product
2,Days for shipment (scheduled),: Days of scheduled delivery of the purchased...
3,Benefit per order,: Earnings per order placed
4,Sales per customer,: Total sales per customer made per customer
5,Delivery Status,: Delivery status of orders: Advance shipping...
6,Late_delivery_risk,: Categorical variable that indicates if send...
7,Category Id,: Product category code
8,Category Name,: Description of the product category
9,Customer City,: City where the customer made the purchase
10,Customer Country,: Country where the customer made the purchase
11,Customer Email,: Customer's email
12,Customer Fname,: Customer name
13,Customer Id,: Customer ID
14,Customer Lname,: Customer lastname
15,Customer Password,: Masked customer key
16,Customer Segment,": Types of Customers: Consumer , Corporate , ..."
17,Customer State,: State to which the store where the purchase...
18,Customer Street,: Street to which the store where the purchas...
19,Customer Zipcode,: Customer Zipcode
20,Department Id,: Department code of store
21,Department Name,: Department name of store
22,Latitude,: Latitude corresponding to location of store
23,Longitude,: Longitude corresponding to location of store
24,Market,: Market to where the order is delivered : Af...
25,Order City,: Destination city of the order
26,Order Country,: Destination country of the order
27,Order Customer Id,: Customer order code
28,order date (DateOrders),: Date on which the order is made
29,Order Id,: Order code
30,Order Item Cardprod Id,: Product code generated through the RFID reader
31,Order Item Discount,: Order item discount value
32,Order Item Discount Rate,: Order item discount percentage
33,Order Item Id,: Order item code
34,Order Item Product Price,: Price of products without discount
35,Order Item Profit Ratio,: Order Item Profit Ratio
36,Order Item Quantity,: Number of products per order
37,Sales,: Value in sales
38,Order Item Total,: Total amount per order
39,Order Profit Per Order,: Order Profit Per Order
40,Order Region,: Region of the world where the order is deli...
41,Order State,: State of the region where the order is deli...
42,Order Status,": Order Status : COMPLETE , PENDING , CLOSED ..."
43,Product Card Id,: Product code
44,Product Category Id,: Product category code
45,Product Description,: Product Description
46,Product Image,: Link of visit and purchase of the product
47,Product Name,: Product Name
48,Product Price,: Product Price
49,Product Status,: Status of the product stock :If it is 1 not...
50,Shipping date (DateOrders),: Exact date and time of shipment
51,Shipping Mode,: The following shipping modes are presented ...

In [37]:
df.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,Customer Country,Customer Email,Customer Fname,Customer Id,Customer Lname,Customer Password,Customer Segment,Customer State,Customer Street,Customer Zipcode,Department Id,Department Name,Latitude,Longitude,Market,Order City,Order Country,Order Customer Id,order date (DateOrders),Order Id,Order Item Cardprod Id,Order Item Discount,Order Item Discount Rate,Order Item Id,Order Item Product Price,Order Item Profit Ratio,Order Item Quantity,Sales,Order Item Total,Order Profit Per Order,Order Region,Order State,Order Status,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,XXXXXXXXX,Cally,20755,Holloway,XXXXXXXXX,Consumer,PR,5365 Noble Nectar Island,725.0,2,Fitness,18.251453,-66.037056,Pacific Asia,Bekasi,Indonesia,20755,1/31/2018 22:56,77202,1360,13.110000,0.04,180517,327.75,0.29,1,327.75,314.640015,91.250000,Southeast Asia,Java Occidental,COMPLETE,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,Puerto Rico,XXXXXXXXX,Irene,19492,Luna,XXXXXXXXX,Consumer,PR,2679 Rustic Loop,725.0,2,Fitness,18.279451,-66.037064,Pacific Asia,Bikaner,India,19492,1/13/2018 12:27,75939,1360,16.389999,0.05,179254,327.75,-0.80,1,327.75,311.359985,-249.089996,South Asia,Rajast�n,PENDING,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,EE. UU.,XXXXXXXXX,Gillian,19491,Maldonado,XXXXXXXXX,Consumer,CA,8510 Round Bear Gate,95125.0,2,Fitness,37.292233,-121.881279,Pacific Asia,Bikaner,India,19491,1/13/2018 12:06,75938,1360,18.030001,0.06,179253,327.75,-0.80,1,327.75,309.720001,-247.779999,South Asia,Rajast�n,CLOSED,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,EE. UU.,XXXXXXXXX,Tana,19490,Tate,XXXXXXXXX,Home Office,CA,3200 Amber Bend,90027.0,2,Fitness,34.125946,-118.291016,Pacific Asia,Townsville,Australia,19490,1/13/2018 11:45,75937,1360,22.940001,0.07,179252,327.75,0.08,1,327.75,304.809998,22.860001,Oceania,Queensland,COMPLETE,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,XXXXXXXXX,Orli,19489,Hendricks,XXXXXXXXX,Corporate,PR,8671 Iron Anchor Corners,725.0,2,Fitness,18.253769,-66.037048,Pacific Asia,Townsville,Australia,19489,1/13/2018 11:24,75936,1360,29.500000,0.09,179251,327.75,0.45,1,327.75,298.250000,134.210007,Oceania,Queensland,PENDING_PAYMENT,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

In [38]:
pd.set_option('display.max_columns', None)

In [39]:
df.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,Customer Country,Customer Email,Customer Fname,Customer Id,Customer Lname,Customer Password,Customer Segment,Customer State,Customer Street,Customer Zipcode,Department Id,Department Name,Latitude,Longitude,Market,Order City,Order Country,Order Customer Id,order date (DateOrders),Order Id,Order Item Cardprod Id,Order Item Discount,Order Item Discount Rate,Order Item Id,Order Item Product Price,Order Item Profit Ratio,Order Item Quantity,Sales,Order Item Total,Order Profit Per Order,Order Region,Order State,Order Status,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,XXXXXXXXX,Cally,20755,Holloway,XXXXXXXXX,Consumer,PR,5365 Noble Nectar Island,725.0,2,Fitness,18.251453,-66.037056,Pacific Asia,Bekasi,Indonesia,20755,1/31/2018 22:56,77202,1360,13.110000,0.04,180517,327.75,0.29,1,327.75,314.640015,91.250000,Southeast Asia,Java Occidental,COMPLETE,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,Puerto Rico,XXXXXXXXX,Irene,19492,Luna,XXXXXXXXX,Consumer,PR,2679 Rustic Loop,725.0,2,Fitness,18.279451,-66.037064,Pacific Asia,Bikaner,India,19492,1/13/2018 12:27,75939,1360,16.389999,0.05,179254,327.75,-0.80,1,327.75,311.359985,-249.089996,South Asia,Rajast�n,PENDING,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,EE. UU.,XXXXXXXXX,Gillian,19491,Maldonado,XXXXXXXXX,Consumer,CA,8510 Round Bear Gate,95125.0,2,Fitness,37.292233,-121.881279,Pacific Asia,Bikaner,India,19491,1/13/2018 12:06,75938,1360,18.030001,0.06,179253,327.75,-0.80,1,327.75,309.720001,-247.779999,South Asia,Rajast�n,CLOSED,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,EE. UU.,XXXXXXXXX,Tana,19490,Tate,XXXXXXXXX,Home Office,CA,3200 Amber Bend,90027.0,2,Fitness,34.125946,-118.291016,Pacific Asia,Townsville,Australia,19490,1/13/2018 11:45,75937,1360,22.940001,0.07,179252,327.75,0.08,1,327.75,304.809998,22.860001,Oceania,Queensland,COMPLETE,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,XXXXXXXXX,Orli,19489,Hendricks,XXXXXXXXX,Corporate,PR,8671 Iron Anchor Corners,725.0,2,Fitness,18.253769,-66.037048,Pacific Asia,Townsville,Australia,19489,1/13/2018 11:24,75936,1360,29.500000,0.09,179251,327.75,0.45,1,327.75,298.250000,134.210007,Oceania,Queensland,PENDING_PAYMENT,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

Renaming the columns

In [40]:
old_new_dict = {old_name:old_name.replace(" ", "_") for old_name in df.columns}
df_prep = df.rename(columns=old_new_dict)
df_prep.rename(columns={"shipping_date_(DateOrders)": "shipping_date"}, inplace=True)
df_prep.rename(columns={"order_date_(DateOrders)": "order_date"}, inplace=True)

In [41]:
df_prep.head()

,Type,Days_for_shipping_(real),Days_for_shipment_(scheduled),Benefit_per_order,Sales_per_customer,Delivery_Status,Late_delivery_risk,Category_Id,Category_Name,Customer_City,Customer_Country,Customer_Email,Customer_Fname,Customer_Id,Customer_Lname,Customer_Password,Customer_Segment,Customer_State,Customer_Street,Customer_Zipcode,Department_Id,Department_Name,Latitude,Longitude,Market,Order_City,Order_Country,Order_Customer_Id,order_date,Order_Id,Order_Item_Cardprod_Id,Order_Item_Discount,Order_Item_Discount_Rate,Order_Item_Id,Order_Item_Product_Price,Order_Item_Profit_Ratio,Order_Item_Quantity,Sales,Order_Item_Total,Order_Profit_Per_Order,Order_Region,Order_State,Order_Status,Order_Zipcode,Product_Card_Id,Product_Category_Id,Product_Description,Product_Image,Product_Name,Product_Price,Product_Status,shipping_date,Shipping_Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,XXXXXXXXX,Cally,20755,Holloway,XXXXXXXXX,Consumer,PR,5365 Noble Nectar Island,725.0,2,Fitness,18.251453,-66.037056,Pacific Asia,Bekasi,Indonesia,20755,1/31/2018 22:56,77202,1360,13.110000,0.04,180517,327.75,0.29,1,327.75,314.640015,91.250000,Southeast Asia,Java Occidental,COMPLETE,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,Puerto Rico,XXXXXXXXX,Irene,19492,Luna,XXXXXXXXX,Consumer,PR,2679 Rustic Loop,725.0,2,Fitness,18.279451,-66.037064,Pacific Asia,Bikaner,India,19492,1/13/2018 12:27,75939,1360,16.389999,0.05,179254,327.75,-0.80,1,327.75,311.359985,-249.089996,South Asia,Rajast�n,PENDING,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,EE. UU.,XXXXXXXXX,Gillian,19491,Maldonado,XXXXXXXXX,Consumer,CA,8510 Round Bear Gate,95125.0,2,Fitness,37.292233,-121.881279,Pacific Asia,Bikaner,India,19491,1/13/2018 12:06,75938,1360,18.030001,0.06,179253,327.75,-0.80,1,327.75,309.720001,-247.779999,South Asia,Rajast�n,CLOSED,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,EE. UU.,XXXXXXXXX,Tana,19490,Tate,XXXXXXXXX,Home Office,CA,3200 Amber Bend,90027.0,2,Fitness,34.125946,-118.291016,Pacific Asia,Townsville,Australia,19490,1/13/2018 11:45,75937,1360,22.940001,0.07,179252,327.75,0.08,1,327.75,304.809998,22.860001,Oceania,Queensland,COMPLETE,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,XXXXXXXXX,Orli,19489,Hendricks,XXXXXXXXX,Corporate,PR,8671 Iron Anchor Corners,725.0,2,Fitness,18.253769,-66.037048,Pacific Asia,Townsville,Australia,19489,1/13/2018 11:24,75936,1360,29.500000,0.09,179251,327.75,0.45,1,327.75,298.250000,134.210007,Oceania,Queensland,PENDING_PAYMENT,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

NaN values in the dataset

In [42]:
significant_nan_cols = []
for i in df_prep.columns:
    
    if sum(df_prep[i].isna())/len(df_prep) > 0.05:
        print(i)
        significant_nan_cols.append(i)

Order_Zipcode
Product_Description

In [43]:
sum(df_prep["Customer_City"].isna())

0

In [44]:
df_no_nan = df_prep.drop(columns=list(significant_nan_cols) + ["Product_Image"])

Variance with in a column

In [45]:
def check_variance(data):
    
    no_variance_cols = []
    for i in data.dtypes.index:
        number_unique = len(data[i].value_counts())
        if number_unique == 1:
            print(i, "Unique Value: {}".format(data[i].value_counts().index[0]))
            no_variance_cols.append(i)       
    return no_variance_cols

no_variance_cols = check_variance(df_no_nan)

Customer_Email Unique Value: XXXXXXXXX
Customer_Password Unique Value: XXXXXXXXX
Product_Status Unique Value: 0

In [46]:
no_variance_cols

['Customer_Email', 'Customer_Password', 'Product_Status']

In [47]:
df_no_nan.dtypes.index

Index(['Type', 'Days_for_shipping_(real)', 'Days_for_shipment_(scheduled)',
       'Benefit_per_order', 'Sales_per_customer', 'Delivery_Status',
       'Late_delivery_risk', 'Category_Id', 'Category_Name', 'Customer_City',
       'Customer_Country', 'Customer_Email', 'Customer_Fname', 'Customer_Id',
       'Customer_Lname', 'Customer_Password', 'Customer_Segment',
       'Customer_State', 'Customer_Street', 'Customer_Zipcode',
       'Department_Id', 'Department_Name', 'Latitude', 'Longitude', 'Market',
       'Order_City', 'Order_Country', 'Order_Customer_Id', 'order_date',
       'Order_Id', 'Order_Item_Cardprod_Id', 'Order_Item_Discount',
       'Order_Item_Discount_Rate', 'Order_Item_Id', 'Order_Item_Product_Price',
       'Order_Item_Profit_Ratio', 'Order_Item_Quantity', 'Sales',
       'Order_Item_Total', 'Order_Profit_Per_Order', 'Order_Region',
       'Order_State', 'Order_Status', 'Product_Card_Id', 'Product_Category_Id',
       'Product_Name', 'Product_Price', 'Product_Status', 'shipping_date',
       'Shipping_Mode'],
      dtype='object')

In [48]:
df_var = df_no_nan.drop(columns=no_variance_cols)

In [49]:
print("Columns removed: {}".format(len(df.columns) - len(df_var.columns)))

Columns removed: 6

In [50]:
one_order_id = df_var.loc[df_var["Order_Id"] == 48880]
one_order_id

,Type,Days_for_shipping_(real),Days_for_shipment_(scheduled),Benefit_per_order,Sales_per_customer,Delivery_Status,Late_delivery_risk,Category_Id,Category_Name,Customer_City,Customer_Country,Customer_Fname,Customer_Id,Customer_Lname,Customer_Segment,Customer_State,Customer_Street,Customer_Zipcode,Department_Id,Department_Name,Latitude,Longitude,Market,Order_City,Order_Country,Order_Customer_Id,order_date,Order_Id,Order_Item_Cardprod_Id,Order_Item_Discount,Order_Item_Discount_Rate,Order_Item_Id,Order_Item_Product_Price,Order_Item_Profit_Ratio,Order_Item_Quantity,Sales,Order_Item_Total,Order_Profit_Per_Order,Order_Region,Order_State,Order_Status,Product_Card_Id,Product_Category_Id,Product_Name,Product_Price,shipping_date,Shipping_Mode
118698,TRANSFER,6,2,34.119999,97.489998,Late delivery,1,18,Men's Footwear,Los Angeles,EE. UU.,Kimberly,3714,Williams,Consumer,CA,1905 Merry Cloud Plaza,90066.0,4,Apparel,34.001583,-118.432152,Pacific Asia,Al Mubarraz,Arabia Saud�,3714,12/14/2016 12:29,48880,403,32.5,0.25,122220,129.990005,0.35,1,129.990005,97.489998,34.119999,West Asia,Ash Sharqiyah,PROCESSING,403,18,Nike Men's CJ Elite 2 TD Football Cleat,129.990005,12/20/2016 12:29,Second Class
119105,TRANSFER,6,2,44.619999,193.979996,Late delivery,1,9,Cardio Equipment,Los Angeles,EE. UU.,Kimberly,3714,Williams,Consumer,CA,1905 Merry Cloud Plaza,90066.0,3,Footwear,34.001583,-118.432152,Pacific Asia,Al Mubarraz,Arabia Saud�,3714,12/14/2016 12:29,48880,191,6.0,0.03,122221,99.989998,0.23,2,199.979996,193.979996,44.619999,West Asia,Ash Sharqiyah,PROCESSING,191,9,Nike Men's Free 5.0+ Running Shoe,99.989998,12/20/2016 12:29,Second Class
119676,TRANSFER,6,2,60.779999,159.960007,Late delivery,1,29,Shop By Sport,Los Angeles,EE. UU.,Kimberly,3714,Williams,Consumer,CA,1905 Merry Cloud Plaza,90066.0,5,Golf,34.001583,-118.432152,Pacific Asia,Al Mubarraz,Arabia Saud�,3714,12/14/2016 12:29,48880,627,0.0,0.00,122222,39.990002,0.38,4,159.960007,159.960007,60.779999,West Asia,Ash Sharqiyah,PROCESSING,627,29,Under Armour Girls' Toddler Spine Surge Runni,39.990002,12/20/2016 12:29,Second Class
119677,TRANSFER,6,2,76.010002,158.360001,Late delivery,1,29,Shop By Sport,Los Angeles,EE. UU.,Kimberly,3714,Williams,Consumer,CA,1905 Merry Cloud Plaza,90066.0,5,Golf,34.001583,-118.432152,Pacific Asia,Al Mubarraz,Arabia Saud�,3714,12/14/2016 12:29,48880,627,1.6,0.01,122218,39.990002,0.48,4,159.960007,158.360001,76.010002,West Asia,Ash Sharqiyah,PROCESSING,627,29,Under Armour Girls' Toddler Spine Surge Runni,39.990002,12/20/2016 12:29,Second Class
119995,TRANSFER,6,2,60.000000,200.000000,Late delivery,1,24,Women's Apparel,Los Angeles,EE. UU.,Kimberly,3714,Williams,Consumer,CA,1905 Merry Cloud Plaza,90066.0,5,Golf,34.001583,-118.432152,Pacific Asia,Al Mubarraz,Arabia Saud�,3714,12/14/2016 12:29,48880,502,50.0,0.20,122219,50.000000,0.30,5,250.000000,200.000000,60.000000,West Asia,Ash Sharqiyah,PROCESSING,502,24,Nike Men's Dri-FIT Victory Golf Polo,50.000000,12/20/2016 12:29,Second Class

In [51]:
df_var["Order_Id"].value_counts()

20944    5
62858    5
66067    5
63215    5
61164    5
        ..
69901    1
32720    1
28961    1
42955    1
2049     1
Name: Order_Id, Length: 65752, dtype: int64

Redundant columns

In [52]:
len(df_var.loc[df_var.Order_Customer_Id == df_var.Customer_Id])/len(df_var)

1.0

In [53]:
from itertools import combinations
def check_redundancies(data):
    
    redundancy_list = []
    
    for i in list(combinations(data.columns, 2)):
        
        if all(data[i[0]] == data[i[1]]):
            redundancy_list.append(i)
            print("{} and {} are the same".format(*i))
    
    return redundancy_list
                
redundancies = check_redundancies(df_var)

Benefit_per_order and Order_Profit_Per_Order are the same
Sales_per_customer and Order_Item_Total are the same
Category_Id and Product_Category_Id are the same
Customer_Id and Order_Customer_Id are the same
Order_Item_Cardprod_Id and Product_Card_Id are the same
Order_Item_Product_Price and Product_Price are the same

In [54]:
to_drop =[]
for i in redundancies:
    if len(i[0]) < len(i[1]):
        to_drop.append(i[1])
    else:
        to_drop.append(i[0])

In [55]:
df_clean = df_var.drop(columns=to_drop)

In [56]:
df_clean.drop(columns=["Customer_Lname", "Customer_Fname", "Department_Name"], inplace=True)

In [57]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 38 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days_for_shipping_(real)       180519 non-null  int64
 2   Days_for_shipment_(scheduled)  180519 non-null  int64
 3   Benefit_per_order              180519 non-null  float64
 4   Delivery_Status                180519 non-null  object
 5   Late_delivery_risk             180519 non-null  int64
 6   Category_Id                    180519 non-null  int64
 7   Category_Name                  180519 non-null  object
 8   Customer_City                  180519 non-null  object
 9   Customer_Country               180519 non-null  object
 10  Customer_Id                    180519 non-null  int64
 11  Customer_Segment               180519 non-null  object
 12  Customer_State                 180519 non-null  object
 13  Customer_Street                180519 non-null  object
 14  Customer_Zipcode               180516 non-null  float64
 15  Department_Id                  180519 non-null  int64
 16  Latitude                       180519 non-null  float64
 17  Longitude                      180519 non-null  float64
 18  Market                         180519 non-null  object
 19  Order_City                     180519 non-null  object
 20  Order_Country                  180519 non-null  object
 21  order_date                     180519 non-null  object
 22  Order_Id                       180519 non-null  int64
 23  Order_Item_Discount            180519 non-null  float64
 24  Order_Item_Discount_Rate       180519 non-null  float64
 25  Order_Item_Id                  180519 non-null  int64
 26  Order_Item_Profit_Ratio        180519 non-null  float64
 27  Order_Item_Quantity            180519 non-null  int64
 28  Sales                          180519 non-null  float64
 29  Order_Item_Total               180519 non-null  float64
 30  Order_Region                   180519 non-null  object
 31  Order_State                    180519 non-null  object
 32  Order_Status                   180519 non-null  object
 33  Product_Card_Id                180519 non-null  int64
 34  Product_Name                   180519 non-null  object
 35  Product_Price                  180519 non-null  float64
 36  shipping_date                  180519 non-null  object
 37  Shipping_Mode                  180519 non-null  object
dtypes: float64(10), int64(10), object(18)
memory usage: 52.3+ MB

In [58]:
len(df.columns)-len(df_clean.columns)

15

Cleaned Dataset

In [59]:
df_clean.head()

,Type,Days_for_shipping_(real),Days_for_shipment_(scheduled),Benefit_per_order,Delivery_Status,Late_delivery_risk,Category_Id,Category_Name,Customer_City,Customer_Country,Customer_Id,Customer_Segment,Customer_State,Customer_Street,Customer_Zipcode,Department_Id,Latitude,Longitude,Market,Order_City,Order_Country,order_date,Order_Id,Order_Item_Discount,Order_Item_Discount_Rate,Order_Item_Id,Order_Item_Profit_Ratio,Order_Item_Quantity,Sales,Order_Item_Total,Order_Region,Order_State,Order_Status,Product_Card_Id,Product_Name,Product_Price,shipping_date,Shipping_Mode
0,DEBIT,3,4,91.250000,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,20755,Consumer,PR,5365 Noble Nectar Island,725.0,2,18.251453,-66.037056,Pacific Asia,Bekasi,Indonesia,1/31/2018 22:56,77202,13.110000,0.04,180517,0.29,1,327.75,314.640015,Southeast Asia,Java Occidental,COMPLETE,1360,Smart watch,327.75,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,Late delivery,1,73,Sporting Goods,Caguas,Puerto Rico,19492,Consumer,PR,2679 Rustic Loop,725.0,2,18.279451,-66.037064,Pacific Asia,Bikaner,India,1/13/2018 12:27,75939,16.389999,0.05,179254,-0.80,1,327.75,311.359985,South Asia,Rajast�n,PENDING,1360,Smart watch,327.75,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,Shipping on time,0,73,Sporting Goods,San Jose,EE. UU.,19491,Consumer,CA,8510 Round Bear Gate,95125.0,2,37.292233,-121.881279,Pacific Asia,Bikaner,India,1/13/2018 12:06,75938,18.030001,0.06,179253,-0.80,1,327.75,309.720001,South Asia,Rajast�n,CLOSED,1360,Smart watch,327.75,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,Advance shipping,0,73,Sporting Goods,Los Angeles,EE. UU.,19490,Home Office,CA,3200 Amber Bend,90027.0,2,34.125946,-118.291016,Pacific Asia,Townsville,Australia,1/13/2018 11:45,75937,22.940001,0.07,179252,0.08,1,327.75,304.809998,Oceania,Queensland,COMPLETE,1360,Smart watch,327.75,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,19489,Corporate,PR,8671 Iron Anchor Corners,725.0,2,18.253769,-66.037048,Pacific Asia,Townsville,Australia,1/13/2018 11:24,75936,29.500000,0.09,179251,0.45,1,327.75,298.250000,Oceania,Queensland,PENDING_PAYMENT,1360,Smart watch,327.75,1/15/2018 11:24,Standard Class

In [60]:
df_clean.to_csv("../Datasets/Supply_Chain/DataCoSupplyChainDataset_clean.csv", index=False)